body {
	font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;
}

.members {
  background-color: silver;
  border: 1px solid gray;
  font-size: .9em;
}

.members ul{
  list-style: none;
}

.members li {
   border-bottom: 1px solid gray;
}

.members li.me {
   font-weight: bold;
}

.messages {
  background-color: #FFFFFF;
  border: 1px solid gray;
}

.messages ul{
  list-style: none;
  padding-left: 10px;
  margin-top: 5px;
  height: 500px;
  overflow-y: auto;
}

.chatbox input {
   width: 100%;
}

.messages li.italic, .messages li.italics, .messages li.system {
   font-style: italic;
   color: gray;
}

.messages li.bold {
	font-weight: bold;
}

/*PHONE / TABLETS */
@media (max-width: 991px) {

  .members ul{
    margin: 0;
    padding: 0;
  } 

  .members ul li { 
    display: inline; 
    padding-right: 5px; 
  }

  .members ul li:after {
    content: " , ";
    color: #000000;
  }
     
  .members ul li:last-child:after {
    content: "";
  }

}
