.members {
  float: left;
  width: 20%;
  height: 500px;
  background-color: silver;
}

.messages {
  width: 80%;
  height: 500px;
  float: left;
  background-color: silver;
}

.chatbox input {
   width: 100%;
}

.messages li.italic {
   font-style: italic;
}

.messages li.bold {
	font-weight: bold;
}
